<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfPlayer.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WpfPlayer.MySettings>
      <setting name="LASTMEDIATITLE" serializeAs="String">
        <value />
      </setting>
      <setting name="LASTPLAYLIST" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="LASTMEDIASEEK" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LASTMEDIADURATION" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LASTMEDIAINDEX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DEFAULTTHEME" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LIBRARIESPATH" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="USEANIMATIONS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="USEDISCORDRPC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LASTMEDIATYPE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LASTMEDIAARTIST" serializeAs="String">
        <value />
      </setting>
      <setting name="LASTMEDIA" serializeAs="String">
        <value />
      </setting>
      <setting name="LASTMEDIAYEAR" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MUSICBRAINZNOTIFY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LYRICSNOTIFY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BACKGROUNDTYPE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MEDIABAR_ANIMTYPE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FAVOURITETRACKS" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="HOME_SHOWVISUALISER" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ONMEDIACHANGE_FADEAUDIO" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="STREAMDOWNLOADERNOTIFY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NOTIFICATIONTTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FX_BALANCE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FX_SAMPLERATE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ONERRORSHOW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SUPRESSERRORS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ALLOWGLOBALHOTKEYS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GLOBALHOTKEY_PLAYPAUSE" serializeAs="String">
        <value>179</value>
      </setting>
      <setting name="GLOBALHOTKEY_PLAYPAUSE_MOD" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GLOBALHOTKEY_NEXT" serializeAs="String">
        <value>118</value>
      </setting>
      <setting name="GLOBALHOTKEY_NEXT_MOD" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GLOBALHOTKEY_PREVIOUS" serializeAs="String">
        <value>116</value>
      </setting>
      <setting name="GLOBALHOTKEY_PREVIOUS_MOD" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GLOBALHOTKEY_SKIP10" serializeAs="String">
        <value>119</value>
      </setting>
      <setting name="GLOBALHOTKEY_SKIP10_MOD" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GLOBALHOTKEY_BACK10" serializeAs="String">
        <value>117</value>
      </setting>
      <setting name="GLOBALHOTKEY_BACK10_MOD" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GLOBALHOTKEY_VOLUMEUP" serializeAs="String">
        <value>175</value>
      </setting>
      <setting name="GLOBALHOTKEY_VOLUMEUP_MOD" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GLOBALHOTKEY_VOLUMEDOWN" serializeAs="String">
        <value>174</value>
      </setting>
      <setting name="GLOBALHOTKEY_VOLUMEDOWN_MOD" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GLOBALHOTKEY_VOLUMEMUTE" serializeAs="String">
        <value>173</value>
      </setting>
      <setting name="GLOBALHOTKEY_VOLUMEMUTE_MOD" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LIBRARY_PATH" serializeAs="String">
        <value />
      </setting>
      <setting name="SOUNDCLOUD_NOTIFY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MINIPLAYER_SMARTCOLORS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CACHELIBRARYDATA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ISFIRSTSTART" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UPDATESSERVER" serializeAs="String">
        <value>https://github.com/AnesHamdani08/MuPlay/blob/main/Extras/Updates%20Server/MuPlayLocalUpdatesServer.xml</value>
      </setting>
      <setting name="SKIPSILENCES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PLAYLISTDRAGDROPACTION" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="FBD_QUICKACESS_SUBFOLDERS" serializeAs="String">
        <value>TopDirectoryOnly</value>
      </setting>
      <setting name="DSP_PLUGINS" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="PLAYER_AUTOPLAY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FXEQGAINS" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="GLOBALHOTKEY_NOWPLAYING" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GLOBALHOTKEY_NOWPLAYING_MOD" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="API_ALLOWGET" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="API_ALLOWSET" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="API_LOG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="API_ALLOWEVENTS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="API" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="API_TIMEOUT" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="API_Plugins" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="DEFAULTRESUMEACTION" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ALLOW_MULTIPLEINSTANCES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HOMEVISUALISERTYPE" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TABSELECTORTYPE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="USECOVERCACHING" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DUMMY" serializeAs="String">
        <value>0</value>
      </setting>
    </WpfPlayer.MySettings>
  </userSettings>
</configuration>
